@font-face {
  font-family: 'Fredericka the Great';
  src: url('/assets/font/FrederickaTheGreat/FrederickatheGreat-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'News Cycle';
  src: url('/assets/font/NewsCycle/NewsCycle-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'News Cycle Bold';
  src: url('/assets/font/NewsCycle/NewsCycle-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Noticia Text';
  src: url('/assets/font/NoticiaText/NoticiaText-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scrollbar-width: thin; 
  /* background-color: #fff1e5; */
}

/* bgDarkPrimary: #262a33 */
/* bgLightPrimary:  #fff1e5 */
/* bgDarkSecondary #171923 */
/* bgLightSecondary #f2dfce */

/* white: #fff7ef */
/* whiteSecondary: #fff9f5 */
/* accentColorLight: #990f3d */
/* accentColorDark: #0d7680 */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Times New Roman', Times, serif !important;
  /* font-family: ; */
}

p {
  font-family: 'News Cycle', sans-serif !important;
  /* font-family: 'Noticia Text', serif !important; */
}

a {
  color: inherit;
  text-decoration: none;
}

.logo {
  font-size: 40px;
  font-family: 'Fredericka the Great', cursive !important; 
}

.nav-item {
  position: relative;
  z-index: 1;
}

.nav-item-dropdown {
  position: absolute;
  margin-top: 9px;
  display: none;
  min-width: 160px;
  z-index: 2;
}

.nav-item:hover > .nav-item-dropdown {
  display: block;
}

.limit-heading,
.limit-heading-sm,
.limit-description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
          line-clamp: 3; 
  -webkit-box-orient: vertical;
}

.limit-heading-sm {
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2; 
}

.limit-description {
  -webkit-line-clamp: 4; /* number of lines to show */
  line-clamp: 4; 
}

.article-content h1,
.article-content h2,
.article-content h3 {
  margin: 20px 0;
  font-size: 24px;
  font-weight: bold;
}

.article-content p {
  margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
  .nav-item:hover > .nav-item-dropdown {
    display: none;
  }
}
